.tabelaEmprestimo{

    width: 40%;
    height: 20%
    margin: auto;
    border-style: none;
    border-collapse: collapse;
    align-items: center;
}


.botoesSele{
border: none;
font-size: 18px;
background-color: #8591ab;
color:white;
border-color: white;
border-width: 3px;
}

.botoesSele:hover{
background-color: black;
color: white;
}

.indicadores{
	font-size: 22px;
}
.sairEmpr{
border: none;
font-size: 16px;	
background-color: ##92a8d1;
}

.sairEmpr:hover{
    color: #B22222;
    font-size: 20px;
}