.arena table{
  width:100%;
  margin: 5%;
}
.arena table tr{
    width: 100%;
  }
  .arena table td{
    box-sizing:border-box;
    padding: 15px;
    border-bottom: 1px solid black;
  }
.arena table th{
    box-sizing:border-box;
    padding: 15px;
  }
  .arena table thead th{
      background: #000;
      color: #fff;
      text-align: left;
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
    }

  .arena table tbody{
    text-align: left;
}
    .arena table tbody tr{
      background: white;
    }
.arena table thead .busca th{
      background: #000;
      color: #fff;
      text-align: left;
      border-top-left-radius: 0em;
      border-top-right-radius: 0em;
    }
.busca input{
padding-top: 0.3em;
padding-bottom: 0.3em;
width: 100%;
border: solid black;
}