  .arena table td:nth-last-child(1){
      background: #000;
      color: #fff;
      text-align: left;
      border-bottom-right-radius: 0.5em;
      border-top-right-radius: 0.5em;
      padding-left: 12px;
      padding-right: 12px;
  }